/*
CSS soubory ve složce /styles/ se do výsledného článku zakompilují automaticky
*/

/* override nesmyslných stylů v redakčním systému */

li {
    background: none !important;
}

hr {
    max-width: none !important;
}

.postbutton {
	display: inline;
	margin-left: 5px;
}

.dropdown {
	margin-bottom: 10px;
}