/*
CSS soubory ve složce /styles/ se do výsledného článku zakompilují automaticky
*/

/* override nesmyslných stylů v redakčním systému */

.vopicikoule li {
    background: none !important;
}

.vopicikoule hr {
    max-width: none !important;
}

.vopicikoule .postbutton {
	display: inline;
	margin-left: 5px;
}

.vopicikoule .dropdown {
	margin-bottom: 10px;
}